<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.huanghe.common.dao.LiveHuangheLabelMapper">
  <resultMap id="BaseResultMap" type="live.huanghe.common.domain.LiveHuangheLabel">
    <!--@mbg.generated-->
    <!--@Table live_huanghe_label-->
    <id column="label_id" property="labelId" />
    <result column="label_name" property="labelName" />
    <result column="blog_id" property="blogId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    label_id, label_name, blog_id
  </sql>
  <select id="selectByExample" parameterType="live.huanghe.common.domain.LiveHuangheLabelExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from live_huanghe_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from live_huanghe_label
    where label_id = #{labelId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from live_huanghe_label
    where label_id = #{labelId}
  </delete>
  <delete id="deleteByExample" parameterType="live.huanghe.common.domain.LiveHuangheLabelExample">
    <!--@mbg.generated-->
    delete from live_huanghe_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="label_id" keyProperty="labelId" parameterType="live.huanghe.common.domain.LiveHuangheLabel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into live_huanghe_label (label_name, blog_id)
    values (#{labelName}, #{blogId})
  </insert>
  <insert id="insertSelective" keyColumn="label_id" keyProperty="labelId" parameterType="live.huanghe.common.domain.LiveHuangheLabel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into live_huanghe_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelName != null">
        label_name,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelName != null">
        #{labelName},
      </if>
      <if test="blogId != null">
        #{blogId},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="live.huanghe.common.domain.LiveHuangheLabelExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from live_huanghe_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update live_huanghe_label
    <set>
      <if test="record.labelId != null">
        label_id = #{record.labelId},
      </if>
      <if test="record.labelName != null">
        label_name = #{record.labelName},
      </if>
      <if test="record.blogId != null">
        blog_id = #{record.blogId},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update live_huanghe_label
    set label_id = #{record.labelId},
      label_name = #{record.labelName},
      blog_id = #{record.blogId}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="live.huanghe.common.domain.LiveHuangheLabel">
    <!--@mbg.generated-->
    update live_huanghe_label
    <set>
      <if test="labelName != null">
        label_name = #{labelName},
      </if>
      <if test="blogId != null">
        blog_id = #{blogId},
      </if>
    </set>
    where label_id = #{labelId}
  </update>
  <update id="updateByPrimaryKey" parameterType="live.huanghe.common.domain.LiveHuangheLabel">
    <!--@mbg.generated-->
    update live_huanghe_label
    set label_name = #{labelName},
      blog_id = #{blogId}
    where label_id = #{labelId}
  </update>
</mapper>